<div class="sidebar">
  <ul>
    <li><a href="https://bensobkowiak.github.io/GenomicsCourse/README.md">Home</a></li>

    <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Lectures/Lecture1_WGS.pdf">Lecture 1 - Introduction and Key Concepts</a></li>
    
    <li><strong>Practical Session 1</strong>
      <ul>
        <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Practicals/Obtaining_sequencing_data.md">Obtaining sequence data</a></li>
        <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Practicals/View_raw_sequence.md">Viewing sequencing data</a></li>
        <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Practicals/Quality_control.md">Sequencing data QC</a></li>
        <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Practicals/cleaning_fastq.md">Cleaning and filtering data</a></li>
        <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Practicals/mapping.md">Reference mapping</a></li>
        <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Practicals/denovo.md">De novo assembly</a></li>
      </ul
    </li>

    <li><a href="https://bensobkowiak.github.io/GenomicsCourse/Lectures/Lecture2_Variants.pdf">Lecture 2 - Variant Detection and Phylogenetic Trees</a></li>

  </ul>
</div>
