{% if page.layout != "none" %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  {% unless page.path == "index.md" or page.path == "README.md" or page.path == "https://bensobkowiak.github.io/GenomicsCourse/preworkshopInstructions2.html" %}
    {% include sidebar.html %}
  {% endunless %}
  <div class="content">
    {{ content }}
  </div>
</body>
</html>
{% else %}
{{ content }}
{% endif %}
